.sidebar__header{
    height: fit-content;
}
.sidebar__header{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 1rem 1rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.05);
}
.sidebar__content{
    background-color: white;
    margin: 1rem 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.05);
}
.Header{
    background-color: white;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 1rem;
    margin: 1rem 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.05);
}
.Content{
    background-color: white;
    margin: 1rem 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.05);
}
.Profile__pic{
    height: 8rem;
    width: 8rem;
    justify-self: left;
    padding: 0.5rem;
}
.Profile__name{
    font-size: 1.4rem;
    margin-bottom: 0;
    color: black;
    height: fit-content;
    font-weight: 700;
}
.Header__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: rgb(0,0,0);
}
.Header__text p{
    color: rgb(0,0,0);
}
.list{
    padding: 0;
}
.list__text{
    list-style: none;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(207, 207, 207);
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
}
.ant-layout-sider{
    background: white;
}
.Modal__button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.ant-layout{
    background: #FFF2F2;
    height: 100vh;
}